@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
@import "/assets/fonts/font-family.css";

:root {
    --primary-font: 'Raleway', sans-serif;
    --secont-font : 'Neue Machina';
    --black       : #000000;
    --white       : #ffffff;
    --yellow      : #ffbd44;
    --red         : #ff605c;
    --green       : #00ca4e;
}

.yellow {
    color: var(--yellow);
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}