.accordion {
    margin-bottom: 1rem;
    width        : 100%;
}

.accordion-btn {
    align-items        : center;
    background-color   : transparent;
    border             : none;
    border-bottom-color: #fefefe;
    color              : var(--white);
    display            : flex;
    font-size          : 1.5rem;
    font-family        : var(--primary-font);
    justify-content    : space-between;
    padding            : 0.938rem 0.313rem;
    position           : relative;
    text-transform     : capitalize;
    transition         : .5s ease-in-out;
    width              : 100%;
}

.accordion-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor          : pointer;
}

.accordion-btn i {
    transition: .3s ease-in-out;
}

.accordion:hover i {
    transform: rotate(180deg);
}

.accordion-content {
    background-color: rgba(255, 255, 255, 0.1);
    border-top      : 1px solid rgba(255, 255, 255, 0.2);
    display         : none;
    padding         : 0.5rem 0.313rem;
}

.open.accordion-content {
    display: block;
}

.skill-container {
    display       : flex;
    flex-direction: column;
    gap           : 1rem;
}

@media screen and (min-width: 600px) {
    .skill-container {
        /* align-items   : center; */
        flex-direction: row;
    }
}

.competence {
    flex: 1;
}

.competence h2 {
    font-weight  : 600;
    margin-bottom: 1.5rem;
}

.list {
    align-items    : center;
    display        : flex;
    flex-wrap      : wrap;
    gap            : 0.5rem;
    justify-content: start;
}

#tools {
    align-items          : center;
    align-content        : center;
    display              : grid;
    grid-template-columns: 50px 50px;
    gap                  : 1rem;
    justify-content      : center;
}

#tools li a {
    display   : inline-block;
    transition: .5s ease-out;
}

#tools li a:hover {
    transform: scale(1.1);
}

#tools li img {
    height: 40px;
    width : 40px;
}

#icon-list li {
    align-items: center;
    display    : flex;
    gap        : .25rem;
}

#icon-list li::before {
    background-color: rgba(9, 117, 241, 0.8);
    content         : "";
    display         : inline-block;
    height          : 4px;
    width           : 6px;
}

#projects li {
    margin-bottom: 1rem;
}

#projects li h2 {
    font-size    : 1.125rem;
    font-weight  : 600;
    margin-bottom: 0.25rem;
}

#projects li a {
    border    : 1px solid transparent;
    transition: .3s ease-in-out;
}

#projects li a:hover {
    color              : rgba(9, 117, 241, 0.8);
    border-bottom-color: rgba(9, 117, 241, 0.8);
}

#experience li {
    margin-bottom: 2rem;
}

#experience h3 {
    align-items  : center;
    display      : flex;
    font-size    : 1.125rem;
    font-weight  : 600;
    gap          : 0.375rem;
    margin-bottom: 0.5rem;
}

#experience h3::before {
    background-color: rgba(9, 117, 241, 0.8);
    content         : "";
    display         : inline-block;
    height          : 20px;
    width           : 4px;
}

#experience span {
    display      : inline-block;
    font-size    : 0.875rem;
    margin-bottom: 0.5rem;
    opacity      : .6;
}